@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Rubik", sans-serif;

}
.animto {
    overflow: hidden;
    cursor: pointer;
    transition: all 0.7s; 
}
.animto:hover {
    overflow: hidden;
    transform: translateY(-1.2rem);
}
.gallery-item {
    overflow: hidden;
}
.gallery-item img {
    width: 100%;
    transition: all 0.4s;
}
.gallery-item img:hover {
    transform: scale(1.1);
}
.nav-image {
    height: 20px;
}
.icon-wrapper {
    display: inline-flex; /* or inline-block */
    align-items: center;
    justify-content: center;
    background-color: #fdf2e9;
    border-radius: 50%; /* Makes the background rounded */
    padding: 1rem; /* Adjust as needed to create space around the SVG */
margin:30px 0px;
}
.never{
margin-bottom:20px;
}
.para{
    font-size:20px;
    color:#333;
}
.svg-icon {
    height: 2rem;
    width: 2rem;
}

/* @mwdia(min-width: 700p) and (max-width: 1000px){
    .big-screen-mod {
        display: none;
    }
    .small-sc{
        display:bloc;
            }
} */

.h-hidden{
    display:none;
}
.con-grid {
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);

    grid-template-columns: 2fr 1fr ;
}
.full-co{
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15)
}
.formpart{
    padding:4.8rem 6.4rem 6.4rem 6.4rem;
}

.image-part{
    background-image: linear-gradient(
        to right bottom,
        rgba(235, 151, 78, 0.35),
        rgba(230, 125, 34, 0.35)
      ),
      url("image/eating.jpg");
    background-size: cover;
    background-position: center;
    boreder-radius:20px;
}
@media(max-width:850px){
    .con-grid{
        grid-template-columns:  1fr ;

    }
.image-part{
    order:-1;
    height:10rem
}
.formpart{
    padding:2.8rem 4.4rem 4.4rem 2.4rem;
}
}
.create-con{
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15)}
@media (max-width: 640px) and (min-width: 350px) {
    .f-sanduuq {
        flex-direction: column;
        align-items: center;
    }
    .create-con{
        grid-template-columns:1fr;
    }
    .more-img {
        width: 100%;
    }
    .big-screen-mod {
        display: none;
    }
  
    .image-with-text {
        flex-direction: column;
        margin-bottom: 12px;
    }
    .links:link, .links:visited {
        font-size: 10px;
    }
    .text-part {
        align-items: center;
    }
    .text-wp {
        font-size: 20px;
    }
    .heading-a {
        font-size: 30px;
        text-align: center;
        margin-bottom: 20px;
    }
    .text {
        text-align: center;
    }
    .omni-food {
        margin-bottom: 25px;
    }
    .company-i {
        height: 10px;
    }
   
}


@media (max-width: 350px) {
    .f-sanduuq {
        flex-direction: column;
        align-items: center;
    }
    .image-with-text {
        flex-direction: column;
        margin-bottom: 12px;
        text-align:center;
    }
    .big-screen-mod {
        display: none;
    }
    .sm-screem{
        width:100%;
        background-color:trasparent;
    }
    .navbar{
        display:none;
    }
}
@media (max-width: 350px) {
 
    
}