*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;   
}
body{
min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}
.card{
    display: flex;
    flex-direction: column;
    border-radius: 11px;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
max-width: 300px;
transition: all .3s;
}
.card:hover{
    transform: translatey(-13px);
}

.imge-1{
    height: auto;
    width:100%;
}
.flex{
    margin-top: 20px;
    padding-left:20px ;
display: flex;
flex-direction: column;
gap: 20px;
}